.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-gap: 20px;
}

.staff-nav {
    background-color: rgb(150,150,150);
    box-shadow: inset -5px 0 10px black;
    height: 100vh;
    padding: 10px;
}

thead {
    background-color: #798b4a;
}

.movie-form {
    margin: 20px 0;
    padding: 20px;
}

.movie-form label {
    display: block;
}

.movie-form input, select {
    margin-left: 15px;
}

.long-input {
    width: 40rem;
}

.medium-input {
    width: 20rem;
}