body {
    font-family:  'Poppins', sans-serif;
    color: white;
    background-color: rgb(10, 10, 10);
}

h3 {
    text-transform: uppercase;
}

.categories-outer-container {
    max-width: 90%;
    margin: 15px auto;
    overflow: auto;
    border-radius: 5px;
}

.categories-inner-container {
    border: 1px solid steelblue;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: nowrap;
}

.video-container {
    display: inline-block;
    padding: 30px;
}

.video-thumbnail-div {
    background-color: black;
    width: 250px;
    height: 400px;
    display: inline-block; /* makes it fit in like an <img> */
    background-size: cover; /* or contain */
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3%;
}