* {
    margin: 0px;
    padding: 0px;
}

h4 {
    color: white;
}

.body-container {
    margin: 2rem;
}

body {
    font-family:  'Poppins', sans-serif;
    color: black;
    background-color: rgb(200, 200, 200); 
}

h3 {
    text-transform: uppercase;
}

button {
    all: unset;
    background-color: rgba(150, 150, 150);
    margin: 4px;
    padding: 5px 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0,0,0,0.5);
}

button:active {
    background-color: rgba(0,0,0,0.75);
}

label {
    padding-right: 10px;
}

.categories-outer-container {
    max-width: 90%;
    margin: auto;
    overflow: auto;
    border-radius: 5px;
}

.categories-inner-container {
    background-color: rgb(100, 100, 100); 
    border: 1px solid steelblue;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: nowrap;
}

.video-container {
    display: inline-block;
    padding: 30px;
}

.video-thumbnail-div {
    background-color: white;
    width: 250px;
    height: 400px;
    display: inline-block; /* makes it fit in like an <img> */
    background-size: cover; /* or contain */
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3%;
}